openapi: 3.2.0
info:
  title: Allianz API Connect Certificates API
  description: Allianz API Connect provides partner APIs for embedding Australian insurance products including home and contents, landlord, and comprehensive car insurance. Enables price estimation, quoting, lead referral, and certificate retrieval within partner digital journeys.
  version: 1.0.0
  contact:
    name: Allianz Partners Support
    url: https://www.allianz.com.au/about-us/work-with-us/partners/api-connect.html
  x-generated-from: documentation
servers:
- url: https://api.allianz.com.au/v1
  description: Allianz Australia API Connect production server
security:
- OAuth2: []
tags:
- name: Certificates
  description: Operations for retrieving insurance certificates of currency
paths:
  /certificates/{policy_number}:
    get:
      operationId: getCertificateOfCurrency
      summary: Allianz API Connect Get Certificate of Currency
      description: Retrieve an insurance Certificate of Currency instantly for a given policy number, eliminating delays and streamlining verification processes for partners.
      tags:
      - Certificates
      parameters:
      - name: policy_number
        in: path
        required: true
        description: The Allianz policy number for which to retrieve the certificate
        schema:
          type: string
        example: ALZ-2026-500567
      - name: format
        in: query
        required: false
        description: Requested format for the certificate document
        schema:
          type: string
          enum:
          - pdf
          - json
          default: pdf
        example: pdf
      responses:
        '200':
          description: Certificate of currency retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CertificateOfCurrency'
              examples:
                GetCertificateOfCurrency200Example:
                  summary: Default getCertificateOfCurrency 200 response
                  x-microcks-default: true
                  value:
                    certificate_id: cert-500123
                    policy_number: ALZ-2026-500567
                    insured_name: Jane Smith
                    product_type: home
                    coverage_start: '2026-01-01'
                    coverage_end: '2027-01-01'
                    sum_insured: 750000.0
                    currency: AUD
                    issued_at: '2026-04-19T10:30:00Z'
                    download_url: https://api.allianz.com.au/v1/certificates/cert-500123/download
        '404':
          description: Policy or certificate not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  schemas:
    ErrorResponse:
      title: ErrorResponse
      type: object
      description: Standard error response
      properties:
        error:
          type: string
          description: Error code identifying the type of error
          example: invalid_request
        message:
          type: string
          description: Human-readable description of the error
          example: The provided estimate_id does not exist
        request_id:
          type: string
          description: Unique identifier for the failed request for support reference
          example: req-500999
    CertificateOfCurrency:
      title: CertificateOfCurrency
      type: object
      description: Insurance Certificate of Currency confirming active coverage
      properties:
        certificate_id:
          type: string
          description: Unique identifier for the certificate
          example: cert-500123
        policy_number:
          type: string
          description: Policy number the certificate relates to
          example: ALZ-2026-500567
        insured_name:
          type: string
          description: Name of the insured party
          example: Jane Smith
        product_type:
          type: string
          description: Insurance product type
          example: home
        coverage_start:
          type: string
          format: date
          description: Coverage start date
          example: '2026-01-01'
        coverage_end:
          type: string
          format: date
          description: Coverage end date
          example: '2027-01-01'
        sum_insured:
          type: number
          format: double
          description: Total sum insured amount
          example: 750000.0
        currency:
          type: string
          description: Currency code for the sum insured
          example: AUD
        issued_at:
          type: string
          format: date-time
          description: Timestamp when the certificate was issued
          example: '2026-04-19T10:30:00Z'
        download_url:
          type: string
          format: uri
          description: URL to download the certificate as a PDF document
          example: https://api.allianz.com.au/v1/certificates/cert-500123/download
  securitySchemes:
    OAuth2:
      type: oauth2
      description: OAuth2 client credentials flow for partner API access
      flows:
        clientCredentials:
          tokenUrl: https://api.allianz.com.au/oauth2/token
          scopes:
            price_estimate: Access to price estimation APIs
            lead_referral: Access to lead referral APIs
            policy_details: Access to policy detail APIs
            certificates: Access to certificate retrieval APIs
